<article class="post">
    <h1 class="title"><%= page.title %></h1>
    
    <div class="meta">
        <span><%= date(page.date, 'YYYY-MM-DD') %></span>
        <% if (page.categories && page.categories.length) { %>
            <span class="categories">
                分类：
                <% page.categories.forEach(function(category, index) { %>
                    <a href="<%- url_for(category.path) %>"><%= category.name %></a>
                    <% if (index < page.categories.length - 1) { %>
                        ,
                    <% } %>
                <% }) %>
            </span>
        <% } %>
        <% if (page.tags && page.tags.length) { %>
            <span class="tags">
                标签：
                <%- list_tags(page.tags, {
                    show_count: false,
                    separator: '，'
                }) %>
            </span>
        <% } %>
    </div>
    
    <div class="content">
        <%- page.content %>
    </div>
</article> 